[run]
source = custom_components/nwp500
omit =
    */tests/*
    */test_*.py
    */__pycache__/*
    */.tox/*
    */.venv/*
    */coordinator.py

[report]
exclude_lines =
    # Default exclusions
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod
    # Don't complain about missing debug code
    if self\.debug
    # Don't complain if tests don't hit defensive code
    except Exception
    # Don't complain about ellipsis in protocols/stubs
    \.\.\.

precision = 2
show_missing = True

[html]
directory = htmlcov
