# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Home Assistant
*.db
*.db-shm
*.db-wal
*.log
token.txt
diagnostics/
config/
!custom_components/
.HA_VERSION
.storage/
deps/
image_cache/
tts/

# Type checking and testing
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
.pyre/
.pytest_cache/
.ruff_cache/
.hypothesis/
.tox/
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover

# Virtual environments
.venv/
venv/
ENV/
env/
.venv3/

# Environment variables
.env

resources
