name: HACS Action
on:
  push:
  pull_request:
    branches: [main]
jobs:
  hacs_validation:
    runs-on: ubuntu-latest
    name: HACS Validation
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: HACS Action
        uses: hacs/action@main
        with:
          category: integration
          ignore: brands
